*{
}

/* common-style */
.color-1{
    color: #F5F5F5;
}

.color-2{
    color: #006A50;
}

.color-3{
    color: #0E0E0E;
}

/* nav-section */

.nav-sec{
    height: 40px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-bd{
    padding: 15px 0px 15px 0px;
    margin-left: 160px;

}

.btn-sign{
    border-radius: 5px;
    border-color: #006A50;
    padding: 5px;
    margin-right: 160px;
}

/* hero-section */

.hero{
    display: flex;
    justify-content: space-between;
    gap: 64px;
    background-color: #C6E4D6;
    border-radius: 10px;
    margin: 20px 160px 0px 160px;

}

.hero-content{
    padding: 117px 0px 117px 60px;
    height: 160px;
    width: 320px;

}


.hero-content h4{
    color: rgba(14, 14, 14, 0.5);
    font-size: 20px;
    margin-bottom: 5px;
}

.hero-content h2{
    color: #0E0E0E;
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: bold;
   

}

.hero-btn{
    width: 200px;
    height: 50px;
    font-size: 15px;
    background-color: #006A50;
    color: white;
    border-radius: 5px;
    align-items: center;
    
}

.hero-img{
    padding: 80px 60px 80px 0px;
}

/* Vision-section */

.Pillars{
    margin-left: 160px;

}

.Pillars h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.card-items{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-left: 160px;
    margin-right: 160px;
}

.card{
    width: 220px;
    height: 200px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.card p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

/* Vision of Future */

.Future{
    margin-left: 160px;
    margin-right: 160px;
}

.Future h3{
    padding-top: 80px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}

.Future p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.future-section{
    display: flex;
    gap: 24px;
    align-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.future-card {
    width: 300px;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px 32px 32px 32px;
    border-radius: 10px;
}

.future-card h4{
    font-weight: bold;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}

.future-card p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.future-card button{
    background-color: rgba(84, 144, 245, 1);
    color: white;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.future-color-2{
    width: 300px;
    background-color: rgba(198, 228, 214, 1);
    padding: 32px 32px 32px 32px;
    border-radius: 10px;
}

.future-color-2 h4{
    font-weight: bold;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}

.future-color-2 p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.future-color-2 button{
    background-color: rgba(9, 161, 92, 1);
    color: white;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.future-color-3{
    width: 300px;
    background-color: rgba(247, 235, 207, 1);
    padding: 32px 32px 32px 32px;
    border-radius: 10px;
}

.future-color-3 h4{
    font-weight: bold;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}

.future-color-3 p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.future-color-3 button{
    background-color: rgba(255, 194, 57, 1);
    color: white;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}