*{
}

/* common-style */
.color-1{
    color: #F5F5F5;
}

.color-2{
    color: #006A50;
}

.color-3{
    color: #0E0E0E;
}

/* nav-section */

.nav-sec{
    height: 40px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-bd{
    padding: 15px 0px 15px 0px;
    margin-left: 160px;

}

.btn-sign{
    border-radius: 5px;
    border-color: #006A50;
    padding: 5px;
    margin-right: 160px;
}

/* hero-section */

.hero{
    display: flex;
    justify-content: space-between;
    gap: 64px;
    background-color: #C6E4D6;
    border-radius: 10px;
    margin: 20px 160px 0px 160px;

}

.hero-content{
    padding: 117px 0px 117px 60px;
    height: 160px;
    width: 320px;

}


.hero-content h4{
    color: rgba(14, 14, 14, 0.5);
    font-size: 20px;
    margin-bottom: 5px;
}

.hero-content h2{
    color: #0E0E0E;
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: bold;
   

}

.hero-btn{
    width: 200px;
    height: 50px;
    font-size: 15px;
    background-color: #006A50;
    color: white;
    border-radius: 5px;
    align-items: center;
    
}

.hero-img{
    padding: 80px 60px 80px 0px;
}

/* Vision-section */

.Pillars{
    margin-left: 160px;

}

.Pillars h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.card-items{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-left: 160px;
    margin-right: 160px;
}

.card{
    width: 302px;
    height: 244px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.card p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

/* Vision of Future */

.Future{
    margin-left: 160px;
    margin-right: 160px;
}

.Future h3{
    padding-top: 80px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}

.Future p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.future-section{
    display: flex;
    justify-content: center;
    gap: 24px;

    margin-left: 160px;
    margin-right: 160px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.future-card {
    width: 410px;
    height: 325px;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px 32px 32px 32px;
    border-radius: 16px;
}

.future-card h4{
    font-weight: 700;
    font-size: 20px;
    height: 24px;
    color: rgba(14, 14, 14, 0.8);
}

.future-card p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.future-card button{
    background-color: rgba(84, 144, 245, 1);
    color: white;
    width: 122px;
    height: 41px;
    margin-top: 64px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}

.future-color-2{
    width: 410px;
    height: 325px;
    background-color: rgba(198, 228, 214, 1);
    padding: 32px 32px 32px 32px;
    border-radius: 16px;
}

.future-color-2 h4{
    font-weight: 700;
    font-size: 20px;
    height: 24px;
    color: rgba(14, 14, 14, 0.8);
}

.future-color-2 p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.future-color-2 button{
    background-color: rgba(9, 161, 92, 1);
    color: white;
    width: 122px;
    height: 41px;
    margin-top: 64px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}

.future-color-3{
    width: 410px;
    height: 325px;
    background-color: rgba(247, 235, 207, 1);
    padding: 32px 32px 32px 32px;
    border-radius: 16px;
}

.future-color-3 h4{
    font-weight: 700;
    font-size: 20px;
    height: 24px;
    color: rgba(14, 14, 14, 0.8);
}

.future-color-3 p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.future-color-3 button{
    background-color: rgba(255, 194, 57, 1);
    color: white;
    width: 122px;
    height: 41px;
    margin-top: 64px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}

/* Quote Section */

.quotation{
    background-image: url("./image/quote-bg.png");
    background-repeat: no-repeat;
    /* width: 1280px; */
    background-position-y: 10px;
    background-position-x: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    margin-top: 16px;
    margin-left: 160px;
    margin-right: 160px;
    border: none;
}

.quotation p {
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.quotation h3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}

/* Recent News */

.recent-news{
    margin-left: 160px;
    margin-right: 160px;
}

.recent-news h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.recent-news{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

/* news-card */

.news-card{
    /* height: 400px; */
    display: flex;
    padding: 24px;
    background-color: antiquewhite;
    margin-top: 32px;
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 10px;

}

.news-img img {
    border-radius: 15px;
}
.news-info{
    padding-left: 32px;
}

.news-info h3 {
    color: rgba(14, 14, 14, 0.8);
    font-weight: bold;
    font-size: 30px;
}

.news-info p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.news-info button{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

/* Donate-section */

.donate-info{
    margin-left: 160px;
    margin-right: 160px;
    text-align: center;
}

.donate-info h3{
    color: rgba(14, 14, 14, 0.8);
    font-weight: bold;
    font-size: 30px;
}

.donate-info p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.donate-btn{
    /* width: 1000px;
    height: 70px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.donate-btn button{
    width: 160px;
    height: 60px;
    color: black;
    align-items: center;

}

.donate-btn button:hover{
    background-color: aquamarine;
}

.Other{
    display: flex;
    justify-content: center;
}

    
.Other-donate{
    margin-top: 32px;
    width: 1050px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-left: 160px;
    margin-right: 160px; */
}

.donate-btn-2{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 32px;
}

/* Newsletter-section */

.news-letter{
    background-color: rgba(198, 228, 214, 1);
    /* width: 1280px;
    height: auto; */
    border-radius: 10px;
    margin-left: 160px;
    margin-right: 160px;

}

.sub-letter{
    justify-items: center;
}

.sub-letter h2{
    padding: 80px 265px 0px 265px; 
    color: rgba(14, 14, 14, 1);
    font-weight: bold;
    font-size: 40px;
    align-items: center;
}

.sub-letter p{
    padding-top: 5px;
    text-align: center;
    height: 40px;
    width: 600px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.email-submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-mail{
    width: 600px;
    height: 52px;

    border-radius: 10px 0px 0px 10px;

}

.subscribe{
    width: 150px;
    height: 55px;
    background-color: rgba(0, 106, 80, 1);
    font-size: 18px;
    color: white;
    border-radius: 0px 10px 10px 0px;
}

/* footer-section */

.footer{
    text-align: center;
    background: white;
    padding-top: 50px;
}

.footer h3{
    padding-bottom: 50px;
    color: rgba(14, 14, 14, 1);
    font-size: 32px;
    font-weight: 700;

}
.footer img{
    gap: 23px;
    padding-top: 50px;
    padding-bottom: 50px;
}
